* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* head area */
.site-init {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-color: rgb(70, 56, 7);
    color: white;
}

.site-init h1 {
    font-weight: 300;
}

.nav-menu{
    position: relative;
    color: black;
    text-decoration: none;
    margin-right: 2rem;
}

.nav-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.nav-menu li{
    margin: 0 4rem 0 0;
    opacity: .4;
    transition: all 0.4s ease; 
}
.nav-menu li:hover{
 opacity: .7;
font-size: 3rem; /*effect down item */
}

.nav-menu li:active{
    opacity: 1;
}

.nav-menu li:last-child{
margin-right: 0
}
.nav-menu a{
    /* font-size: 1.8rem; */
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 1.1rem;

}
 /* main area */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: auto;
}
main .backLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 60rem;
    background-image: url("https://www.teahub.io/photos/full/188-1887554_hp-windows-7-logon-background.jpg");
}
main .backLogin h2{
    color: white;
    font-size: 4rem;
    margin-left: 30px;
}

main .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 247);
    height: 15rem;
    width: 30rem;
    margin-left: 10px;

}


input{
    width: 15rem;
    padding: 5px;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    width: auto;
}

button{
    padding: 0.5rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
/* registercontainer */
.site-register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    background-color: rgb(70, 56, 7);
    color: white;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 247);
    height: 40rem;
    width: 30rem;
}

.input-error{
    border:1px solid red;
}

.inputArea{
    display: inline;
}
#errorEmail,
#errorLName,
#errorFName,
#errorPass{
    color: red;
    font-size: 2rem;
}


@media only screen and (max-width: 768px) {
    main .backLogin{
    justify-content: center;
    width: 43rem;
    height: max-content;
    border-radius: 0%;
    }
    main .backLogin h2{
        color: white;
        font-size: 2rem;
        margin-left: 10px;
        margin-right: 20px;
    }
    main .login-container {
        height: 15rem;
        width: 30rem;
        margin-left: 5px;
        margin-right: 10px;
    }
}